<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="">
    <title>Projekt 2 - Julia Jamrozik</title>
    <style>
        body {
            background-color: rgb(196, 190, 206);
        }

        .menu {
            display: flex;
            width: 100%;
            background-color: rgb(71, 62, 77);
            height: 50px;
            color: white;
        }

        .nawigacja {
            display: flex;
            width: 200px;
            justify-content: space-between;
            margin-top: 15px;
            margin-left: 40px;
        }

        .plik {
            margin-top: 30px;
            width: 400px;
            margin: auto;

        }

        .napis {
            color: rgb(148, 152, 155);
            font-size: 30px;
            margin-left: 40px;
        }

        a {
            color: white;
        }

        .usun {
            color: white;
            margin-top: 30px;
            margin-left: 40px;
        }

        .div2 {
            width: 300px;
            background-color: rgb(134, 127, 151);
            height: 1000px;
        }

        .calosc {
            display: flex;
        }

        .tabela {
            display: grid;
            width: 100%;
            color: white;
            margin-top: 10px;
            font-size: 20px;
            grid-template-columns: repeat(8, auto);
            height: max-content;
            margin-left: 10px;
        }

        .tabelaInfo {
            width: 100%;
            color: white;
            margin-top: 10px;
            font-size: 20px;
            height: max-content;
            margin-left: 10px;
            display: flex;

        }

        .element {
            width: 100%;
            line-height: 30px;
        }
    </style>
</head>

<body>

    {{{body}}}

</body>

</html>